<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, viewport-fit=cover"
    />
    <title>Publish Tool</title>
  </head>
  <body>
    <a href="http://localhost:8081/publish?token=<%= token %>">Publish</a>
  </body>
</html>
